* {
margin: 0;
padding: 0;
font-family: Boom, Arial, sans-serif;
}
@font-face {
  font-family: Boom;
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 200;
  font-style: normal;
}
.gray-bar {
  width: 90%;
  height: 30px;
  border: 2px solid #9B9B8D;
  background-color: #9b9b8d;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
}
h1 {
  margin: auto;
}
#choose-tracks {
  height: 30vw;
  width: 45%;
  margin: 0px;
  padding-top: 140px;
  background-color: white;
  color: #450060;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  position: relative;
}
#random-covers {
  height: 50vw;
  width: 47%;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
}
#railroad {
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.randomImage {
  opacity: 1.0;
  margin: auto;
  height: 120px;
  width: 120px;
}
#choose-tracks-button {
  border-radius: 4px;
  font-family: Boom;
  color: #ffffff;
  font-size: 14px;
  background: #000000;
  padding: 8px 10px 10px 10px;
  text-decoration: none;
  margin: auto;
}
header {
  font-size: 14px;
}
footer {
  color: white;
  font-size: 12px;
}
img {
  height: 80vw;
}
#cover-scroll {
width:90vw;
height:180px;
overflow:auto;
white-space:nowrap;
}
.scrolling-image {
margin:10px 10px 5px 10px;
width: 140px;
height: 140px;
}
#list-selections {
  border: 2px solid black;
  width: 50vw;
  height: 180px;
}
button {
  border-radius: 4px;
  font-family: Boom;
  color: #ffffff;
  font-size: 14px;
  background: #000000;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
}
